
{ 
    "username": "sachin jeph",
    "licensingkey":"thisismyuniquekey",
    "FilePathCollection": [
        {
            "DirectoryPath" : "/Users/sachinjeph/Desktop/superlogs/superlogs-app/temp/logs",
            "FileNameRegex" : "^.*superlogs.*\\.log$",
            "FilePathGroups" : ["important","ui","clientFacing"]
        },
        {
            "DirectoryPath" : "/Users/sachinjeph/Desktop/superlogs/superlogs-app/temp/logs",
            "FileNameRegex" : "^.*dev-superlogs-ui.*\\.log$",
            "FilePathGroups" : ["important","server","internal"]
        }
    ]
}

