
/*

This is a sample file representing how you can modify the 'app.config' according to your needs.
'app.config' a user editable file where they can have important user specific data like usernames,list of file paths of log files they want to analyse
The structure for this file is has 3 important aspects -
1. DirectoryPath : Path of the directory containing the log file
2. FileNameRegex : A regular expression that matches your log file name in that same directory
3. FilePathGroups : A list of group names this file belongs to."



{   
    "username": "sachin jeph",
    "uid":"thisismyuniqueuid",
    "FilePathCollection": [
        {
            "DirectoryPath" : "/Users/team/Desktop/superlogs/temp/logs",
            "FileNameRegex" : "^.*superlogs.*\.log$",//represents a filename that contains <superlogs> and ends with <.log>
            "FilePathGroups" : ["important","ui","clientFacing"]
        },
        {
            "DirectoryPath" : "/Users/team/Desktop/superlogs/superlogs-app/temp/logs",
            "FileNameRegex" : "^.*superlogs.*\.log$",
            "FilePathGroups" : ["important","server","internal"]
        }
    ]
}

*/